*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height:100%;
    width: 100%;
    background-color:purple;
    float:left;
    padding:0 25px;
}
header .brand-logo{
    max-width: 75px;
    float: left;
    padding: 14px 0px;
}
header .brand-logo img {
    max-width: 100%;
}
header nav ul.nav-items{
    margin: 15px 10px;
    float: right;
}
header nav ul.nav-items li{
    list-style: none;
    float: left;
    transition: all .3s ease;
}
header nav ul.nav-items li a{
    font-size:14px;
    font-weight:600;
    color:gold;
    padding: 28px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    text-decoration: none;
}
/**Both btns are hidden for the maeantime**/
header .show-menu-btn, .hide-menu-btn {
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    color:#fff;
    display: none;
}
header .show-menu-btn {
    margin: 0px;
    float: right;
}
header .show-menu-btn i {
    line-height: 100px;
}
header .nav-items li a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover {
    color: plum;
}
header #toggle-btn {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
/*****Section1***/
section.section1{
    background-color:rgb(214, 111, 214);
    padding-top:50px;
    height:600px;
}
section.section1 .intro-content{
    text-align:center;
    padding-top:150px;
}
section.section1 .intro-content h1{
    font-size:40px;
    color:#fff;
    line-height:10px;
    letter-spacing: 3px;
}
section.section1 .intro-content h3{
    margin-top:40px;
    font-size:24px;
    letter-spacing: 2px;
    color:#fff;
}
section.section1 .intro-content .btn{
    border:2px solid goldenrod;
    background-color: gold;
    border-radius: 20px;
    padding:20px 25px;
    margin:30px;
}
section.section1 .intro-content .btn a{
    text-decoration: none;
    padding:20px 25px;
    font-family:Arial, monospace, sans-serif;
    font-size:15px;
    color:purple;
}
section.section1 .intro-image{
    display:flex;
    justify-content: center;
    align-content: center;
} 
section.section1 .intro-image img{
    max-width:100%;
    height:400px;
    display: block;
}
/****Section2****/
section.section2{
    margin-top:20em;
    background-color:#fff;
}
section.section2 .section-title{
   display: flex;
   justify-content: center;
   align-content: center;
}
section.section2 .section-title h1{
    font-size:40px;
    font-family: monospace;
    text-align: center;
    color:purple;
    text-transform: capitalize;
}
section.section2 .ccm{
    display: flex;
    justify-content: space-evenly;
}
section.section2 .ccm .ccm-content{
    margin:100px 80px 0px 80px;
}
section.section2 .ccm .ccm-content .ccm-title{
    width:80%;
}
section.section2 .ccm .ccm-content .ccm-title h1{
    color:purple;
    font-size:38px;
    padding:10px;
    text-transform: capitalize;
}
section.section2 .ccm .ccm-content .options{
    width:60%;
    margin-top:20px;
}
section.section2 .ccm .ccm-content .options ul li{
    list-style: none;
    font-size:16px;
    padding-top:15px;
}
section.section2 .ccm .ccm-content .options ul li .las{
    margin-right:20px;
    font-size:30px;
    color:goldenrod;
}
section.section2 .ccm .ccm-content .ccm-cta{
    margin-top:30px;
    width:40%;
    border:2px solid purple;
    background-color:purple;
    padding:25px 15px;
    border-radius: 20px;;
}
section.section2 .ccm .ccm-content .ccm-cta a{
    text-decoration: none;
    color:goldenrod;
    font-size: 15px;
    text-transform: uppercase;
    margin:0 25px;
}
section.section2 .ccm .ccm-image{
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
}
section.section2 .ccm .ccm-image img{
    max-width:100%;
    height:400px;
    display: block;
}
/******MObile navigation reponsiveness***/
@media screen and (max-width:570px){
   .section1  .intro-content{
       margin-bottom:50px;
        height:50vh;
        max-width:100%;
    }
    .section1 .intro-content h1{
        font-size:28px;
        font-weight:800;
        letter-spacing: 2px;
    }
    .section1 .intro-content h3{
        font-size:26px;
        font-weight:800;
        letter-spacing: 2px;
    }
    .section1 .intro-image{
        padding-top:50px;
    }
    .section2 .ccm .ccm-image{
        max-width:100vw;
        display: block;
    }
}
@media screen and (max-width:576px) {
   header .show-menu-btn,
    .hide-menu-btn {
        display: block;
    }
    .nav-items {
        position: fixed;
        width: 100%;
        height: 80vh;
        background: purple;
        top: -100%;
        left: 0;
        padding: 50px 0px;
        transition: 1s;
    }
    .nav-items li {
        width: 100%;
    }
    .nav-items li a {
        padding: 15px 15px;
        text-align: left;
    }
    .hide-menu-btn {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    #toggle-btn:checked ~ nav .nav-items{
        top: 0px;
    }
    .intro-content{
        height:70vh;
    }
    .intro-content h1{
        font-size:30px;
        font-family: serif;
        padding:10px;
        font-weight:900;
    }
    .intro-content h3{
        font-size:26px;
        font-weight:800;
        letter-spacing: 2px;
    }
    .intro-image img{
        max-width:100%;
        height:auto;
    }
    .section2 .ccm .ccm-image{
        width:100%;
        display: block;
    }
 }
 @media screen and (min-width:576px) and (max-width:768px) { 
    header .show-menu-btn,
    .hide-menu-btn {
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    header .brand-logo img{
        display: none;
    }
     .nav-items{
        display: flex;
        justify-content: space-evenly;
        align-content: center;
     }
     .nav-items li{
         width:100%;
         margin:0px 15px;
     }
     .nav-items li a{
         padding:10px 10px;;
         text-align: right;
     }

 }